body {
  max-width: 100%;
  background-color: $background;

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $text-dark !important;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $text-dark !important;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $text-dark !important;
  }
}
