.hero-image {
  img.hero-background {
    max-width: 1200px;
    z-index: -99;
    position: absolute;
    overflow: hidden;
    top: 0;
  }
}
section.hero {
  padding-top: 100px;
  .form-content {
    margin-top: 60px;
    padding: 21px;
    background-color: $light;
    border-radius: 7px;
    max-width: 713px;

    input {
      border: none;
      border-radius: 7px;
      background-color: $input-bg;
      font-weight: map-get($map: $fw, $key: medium);

      @media only screen and (max-width: 600px) {
        font-size: 12px;
      }
    }
  }

  .form-content-v2 {
    @extend .form-content;
    margin-top: 120px;
  }

  @media only screen and (max-width: 600px) {
    padding-top: 75px;
  }
}

section.hero-v2 {
  @extend .hero;
  padding-top: 120px;

  .arrow-img {
    z-index: -1;
    position: absolute;
    margin-top: -130px;
    margin-left: 830px;
  }
}
