@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

.btn-master, .btn-exploreNow, .btn-v2, .btn-v1, .btn-myAccount {
  font-weight: 500;
  font-size: 18px;
  border-radius: 4px;
  transition: 500ms;
}
.btn-master:hover, .btn-exploreNow:hover, .btn-v2:hover, .btn-v1:hover, .btn-myAccount:hover {
  background-color: #52d459;
  color: #ffffff;
}

.btn-myAccount {
  padding: 12px 32px;
}
@media only screen and (max-width: 600px) {
  .btn-myAccount {
    margin-top: 15px;
  }
}

.btn-v1 {
  background-color: #83d987;
  color: #132039;
}

.btn-v2 {
  background-color: #374267;
  color: #ffffff;
}

.btn-exploreNow {
  padding: 21px 31px;
  color: #132039;
  background-color: #83d987;
}
@media only screen and (max-width: 600px) {
  .btn-exploreNow {
    padding: 12px 20px;
    font-size: 16px;
  }
}

p {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #9094a2;
}

.label-text {
  font-size: 14px;
  font-weight: 400;
  color: #020b2a;
}

h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;
  color: #ffffff;
}

body {
  max-width: 100%;
  background-color: #0f1837;
}
body nav.navbar {
  background-color: transparent !important;
}
body nav.navbar .navbar-toggler-icon {
  color: #83d987 !important;
}
body nav.navbar .navbar-nav .nav-link {
  font-size: 18px;
  font-weight: 400;
  color: #9094a2 !important;
  margin-left: 30px;
}
body nav.navbar .navbar-nav .active {
  font-weight: 500;
  color: #83d987 !important;
  border-bottom: 2px;
  border-color: #83d987;
}
body ::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #020b2a !important;
  opacity: 1;
  /* Firefox */
}
body :-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #020b2a !important;
  opacity: 1;
  /* Firefox */
}
body ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #020b2a !important;
  opacity: 1;
  /* Firefox */
}
body :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #020b2a !important;
}
body ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #020b2a !important;
}

.hero-image img.hero-background {
  max-width: 1200px;
  z-index: -99;
  position: absolute;
  overflow: hidden;
  top: 0;
}

section.hero, section.hero-v2 {
  padding-top: 100px;
  padding-bottom: 50px;
}
section.hero .form-content, section.hero-v2 .form-content, section.hero .form-content-v2, section.hero-v2 .form-content-v2 {
  margin-top: 60px;
  padding: 21px;
  background-color: #ffffff;
  border-radius: 7px;
  max-width: 713px;
}
section.hero .form-content input, section.hero-v2 .form-content input, section.hero .form-content-v2 input, section.hero-v2 .form-content-v2 input {
  border: none;
  border-radius: 7px;
  background-color: #f7f7f9;
  font-weight: 500;
}
section.hero .form-content-v2, section.hero-v2 .form-content-v2 {
  margin-top: 120px;
}
@media only screen and (max-width: 600px) {
  section.hero, section.hero-v2 {
    padding-top: 75px;
  }
}

section.hero-v2 {
  padding-top: 120px;
}
section.hero-v2 .arrow-img {
  z-index: -1;
  position: absolute;
  margin-top: -130px;
  margin-left: 830px;
}/*# sourceMappingURL=main.css.map */