$light: #ffffff;
$dark: #0f1d37;

$primary-green: #83d987;
$primary-green-hover: #52d459;
$secondary-grey: #374267;
$background: #0f1837;

$text-grey: #9094a2;
$text-dark: #020b2a;

$btn-text-dark: #132039;

$input-bg: #f7f7f9;
