nav.navbar {
  background-color: transparent !important;

  .navbar-toggler-icon {
    color: $primary-green !important;
  }

  .navbar-nav {
    .nav-link {
      font-size: 18px;
      font-weight: map-get($map: $fw, $key: regular);
      color: $text-grey !important;
      margin-left: 30px;
    }
    .active {
      font-weight: map-get($map: $fw, $key: medium);
      color: $primary-green !important;
      border-bottom: 2px;
      border-color: $primary-green;
    }
  }
}
